/* main.css */
@import url('components/header.css');
@import url('components/hero.css');
@import url('components/features.css');
@import url('components/testimonials.css');
@import url('components/footer.css');
@import url('utilities.css');

/* Global Styles */
body {
	color: #333;
}

/* Flexbox utility classes */
.flex {
	display: flex;
}

.flex-col {
	flex-direction: column;
}

.flex-center {
	justify-content: center;
	align-items: center;
}
