/* utilities.css */
.text-center {
	text-align: center;
}

.text-white {
	color: #fff;
}

.btn {
	padding: 0.75rem 2rem;
	background-color: #007bff;
	color: white;
	border: none;
	cursor: pointer;
}

.btn:hover {
	background-color: #0056b3;
}
